<div class="containerd">
  <button class="primary ml-5" (click)="dialog.showModal()">Create Your Own Community</button>
</div>
<dialog #dialog id="dialog">
  <div class="container">
    <div class="text">
      Create Your Own Community
    </div>
    <form #communityForm="ngForm" (ngSubmit)="createCommunity(communityForm)">
      <div class="form-row">
        <div class="input-data">
          <input type="text" ngModel name="title" required>
          <div class="underline"></div>
          <label>Title</label>
        </div>
      </div>
      <div class="form-row">
        <div class="input-data textarea">
          <textarea rows="8" cols="80" ngModel name="description" required></textarea>
          <div class="underline"></div>
          <label>Write Your Description</label>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-9 cov-img">
          <label for="image" class="btn btn-link post-form-btn btn-sm">
            <i class="bx bx-images"></i> <span>Choose your Community's Front Cover Photo</span>
          </label>
          <input type="file" id="image" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
        </div>
      </div>
      <div *ngIf="fileHandle" class="d-inline-flex ml-3 align-items-end justify-content-center">
        <i class="bx bx-window-close close-icon" (click)="removeFileSelected(fileHandle)"></i>
        <img *ngIf="fileHandle.url" [src]="fileHandle.url" class="img-thumbnail img-fluid img-body" alt="Image Preview" />
      </div>
      <div *ngIf="creationStatus===false;else submitElse">
        <div class="form-row submit-btn">
          <div class="input-data">
            <div class="inner"></div>
            <input type="submit" value="Submit">
          </div>
        </div>
      </div>
      <ng-template #submitElse>
        <div class="row">
          <div class="col-md-4">
            <div class="msg msg-success msg-success-text"> <span class="glyphicon glyphicon glyphicon-ok"></span>Community <span style="color: #0e44ea;font-family: 'Bold Italic Art'">{{this.msg}}</span>  has been created successfully</div>
          </div>
        </div>
        <div class="form-row cancel-btn">
          <div class="input-data">
            <div class="inner"></div>
            <input type="submit" style="cursor: pointer" (click)="dialog.close(); changeStatus(false)" value="Go Back Home Page">
          </div>
        </div>
      </ng-template>
    </form>
  </div>

  <button (click)="dialog.close()" aria-label="close" class="x">❌</button>
</dialog>
