<ul class="list-unstyled" style="margin-bottom: 0;" *ngIf="isMember">
  <li class="media post-form w-shadow bg-transparent">
    <form class="media-body bg-white mb-2 rounded" #postForm="ngForm" (ngSubmit)="addPost(postForm)">
      <div class="form-group post-input bg-white">
        <textarea
          class="form-control bg-white " id="postForm" ngModel name="content" rows="2" placeholder="What's on your mind?"></textarea>
      </div>
      <div *ngIf="!currenturl.startsWith('/community/')">
        <label for="community-select" class="ml-3">Choose a Community:</label>
        <select class="selectpicker  border-0 px-2 py-2 rounded shadow" id="community-select"
                [(ngModel)]="selectedCommunity" name="community" >
          <option value="">--Please choose an option--</option>
          <option *ngFor="let community of communities" [value]="community.id">{{community.title}}</option>
        </select>
      </div>
      <div *ngFor="let fileHandle of imageFiles" class="d-inline-flex ml-3 align-items-end justify-content-center">
        <i class='bx bx-window-close close-icon' (click)="removeImageFile(fileHandle)"></i>
        <img *ngIf="fileHandle && fileHandle.url" [src]="fileHandle.url" class="img-thumbnail img-fluid img-body" alt="Image Preview"/>
      </div>
      <div class="row post-form-group">
        <div class="col-md-6">
          <label for="imageFileInput" class="btn btn-link post-form-btn btn-sm">
            <i class='bx bx-images'></i> <span>Photo/Video</span>
          </label>
          <input type="file" id="imageFileInput" (change)="onImageFileSelected($event)" accept="image/*" multiple style="display: none;"/>
        </div>
        <div class="col-md-12 text-right">
          <button type="submit" class="btn btn-primary btn-sm">Publish</button>
        </div>
      </div>
    </form>
  </li>
</ul>
