<ul class="list-unstyled" style="margin-bottom: 0;">
  <li class="media post-form w-shadow bg-transparent">
    <form
      class="media-body bg-white mb-2 rounded"
      #postForm="ngForm"
      (ngSubmit)="addPost(postForm)"
    >
      <!-- Post Content Input -->
      <div class="form-group post-input">
        <textarea
          class="form-control bg-white"
          ngModel
          name="content"
          rows="2"
          placeholder="What's on your mind?"
        ></textarea>
      </div>

      <!-- Preview Selected Image Files -->
      <div *ngFor="let fileHandle of imageFiles" class="d-inline-flex ml-3 align-items-end justify-content-center">
        <i class='bx bx-window-close close-icon' (click)="removeImageFile(fileHandle)"></i>
        <img
          *ngIf="fileHandle && fileHandle.url"
          [src]="fileHandle.url"
          class="img-thumbnail img-fluid img-body"
          alt="Image Preview"
        />
      </div>

      <div class="row post-form-group">
        <div class="col-md-6">
          <!-- Upload Image Files -->
          <label for="imageFileInput" class="btn btn-link post-form-btn btn-sm">
            <i class='bx bx-images'></i> <span>Photo/Video</span>
          </label>
          <input
            type="file"
            id="imageFileInput"
            (change)="onImageFileSelected($event)"
            accept="image/*"
            multiple
            style="display: none;"
          />
        </div>

        <div class="col-md-12 text-right">
          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary btn-sm">Publish</button>
        </div>
      </div>
    </form>
  </li>
</ul>
