.img-body{
  height: 150px;
  width: 150px;
  margin-left: 10px;
}
.close-icon{
  position: absolute;
  margin-left: 134px;
  margin-bottom: 131px;
  background-color: white;
  cursor: pointer;
  border-bottom-left-radius: 4px;
}
.close-icon:hover{
  color:red;
}
.form-actions {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  gap: 10px; /* Space between the button and the spinner */
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #cccccc; /* Grey color when disabled */
  cursor: not-allowed; /* Shows a "not allowed" cursor when disabled */
}

.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #ddd; /* Light grey border */
  border-top-color: #007bff; /* Blue border at the top */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

