.gallery_card {
  height: 275px;
  object-fit: cover;
}
:root {
  --font-family-primary: 'Vollkorn', serif;
  --font-family-secondary: 'PT Sans', sans-serif;
  --font-size-title: 32px;
  --line-height-title: 1.4;
  --font-size-caption: 14px;
  --line-height-caption: 1.2;
  --color-text: #222022;
  --color-highlight-primary: #ffef7e;
  --color-highlight-secondary: #b7f9e9;
  --border-radius-primary: 32px;
}
@media (min-width: 576px) {
  :root {
    --font-size-title: 40px;
  }
}
.dialogcard {
  /*max-width: 960px;*/
  height: 99%;
  border-radius: var(--border-radius-primary);
  box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

dialog {
  background: white;
  max-width: 100%;
  max-height:100%;
  width:90%;
  border-radius: 20px;
  border: 0;
  overflow: hidden;
  box-shadow: 0 5px 30px 0 #000;
  animation: fadeIn 1s ease both;
}
dialog::backdrop {
  animation: fadeIn 1s ease both;
  background: #f5f9d4cf;
  z-index: 2;
  backdrop-filter: blur(20px);
}
@media (min-width: 576px) {
  .dialogcard {
    flex-direction: row;
    align-items: center;
    padding: 32px;
  }
}
.card__image {
  width: 100%;
  max-height: 300px;
  border-radius: var(--border-radius-primary);
  object-fit: cover;
  margin-bottom: 18px;
}
@media (min-width: 576px) {
  .card__image {
    width: 45%;
    max-height: none;
    min-height: 400px;
    margin-bottom: 0;
  }
}
@media (min-width: 576px) {
  .card__content {
    width: 55%;
    padding-left: 40px;
  }
}
.card__date {
  display: block;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  text-transform: uppercase;
  color: var(--color-text);
  margin-bottom: 6px;
}
@media (min-width: 576px) {
  .card__date {
    margin-bottom: 8px;
  }
}
.card__title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  color: var(--color-text);
  box-decoration-break: clone;
  background-image: linear-gradient(90deg, var(--color-highlight-primary), var(--color-highlight-secondary));
  background-size: 100% 42%;
  background-repeat: no-repeat;
  background-position: 0 85%;
  padding: 0 4px;
  margin-left: -4px;
}
.dots {
  display: flex;
  justify-content: center;
  margin-top: -60px;
  background: #d6d8d9;
}
.dots label {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid #ffffff 3px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 5px;
}
.dots label:hover {background: #ffffff;}

.post-images .main-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.post-images .thumbnail {
  width: 60px;
  height: 60px;
  margin-right: 5px;
  object-fit: cover;
}
.post-images-content{
  display: flow;
}
.comment-scrollbar{
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 330px;
}


dialog .x {
  filter: grayscale(1);
  border: none;
  background-color: gainsboro;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: ease filter, transform 0.3s;
  cursor: pointer;
  transform-origin: center;
}
dialog .x:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}






@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.paper {
  font-family: "Patrick Hand", cursive;
  position: relative;
  line-height: 25px;
  box-sizing: content-box;
  width: 725px;
  height: 610px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, margin 0.3s;
  /*overflow: auto;*/
}
.paper:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background: rgba(255, 0, 0, 0.3);
  margin-left: 48px;
  z-index: 2;
}
.paper .lines {
  top: 50px;
  position: relative;
  box-sizing: content-box;
  height: calc(610px - 50px);
  padding-right: 8px;
  padding-left: 56px;
  background-image: repeating-linear-gradient(white 0px, white 23.5px, steelblue 25px);
}
.paper .lines ul {
  margin: 0;
}
.paper .holes {
  position: absolute;
  height: 100%;
  width: 48px;
  margin-top: 1px;
  margin-bottom: 1px;
  top: 0;
  left: 0;
}
.paper .holes .hole {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gainsboro;
  left: 12.5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
}
.paper .holes .hole:nth-child(1) {
  top: 50px;
}
.paper .holes .hole:nth-child(2) {
  top: 262.5px;
}
.paper .holes .hole:nth-child(3) {
  top: 475px;
}
[contenteditable] {
  border: 0;
  outline: 0;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.8em;
  }
  .paper {
    margin-top: -55px;
    -webkit-transform: scale(0.8);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition: 0.3s;
    transform-origin: 50% 50%;
    transform: scale(0.8);
    transition: transform 0.3s, margin 0.3s;
  }
}
@media only screen and (max-width: 450px) {
  h1 {
    font-size: 1.5em;
  }
  .paper {
    margin-top: -82.5px;
    -webkit-transform: scale(0.7);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition: 0.3s;
    transform-origin: 50% 50%;
    transform: scale(0.7);
    transition: transform 0.3s, margin 0.3s;
  }
}
@media only screen and (max-height: 600px) {
  body {
    overflow: hidden;
  }
  .paper {
    margin-top: -110px;
    -webkit-transform: scale(0.6);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition: 0.3s;
    transform-origin: 50% 50%;
    transform: scale(0.6);
    transition: transform 0.3s, margin 0.3s;
  }
}
@media only screen and (max-height: 450px) {
  body {
    overflow: hidden;
  }
  .paper {
    margin-top: -137.5px;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition: 0.3s;
    transform-origin: 50% 50%;
    transform: scale(0.5);
    transition: transform 0.3s, margin 0.3s;
  }
}
@media only screen and (max-width: 430px) {
  h1 {
    text-align: left;
    font-size: 1.3em;
    margin-left: 12px;
  }
  .paper {
    margin: 0;
    margin-left: 12px;
    margin-top: -110px;
    -webkit-transform: scale(0.6);
    -webkit-transform-origin: 0% 50%;
    -webkit-transition: 0.3s;
    transform-origin: 0% 50%;
    transform: scale(0.6);
    transition: transform 0.3s, margin 0.3s;
  }
}
@media only screen and (max-height: 375px) {
  body {
    overflow: hidden;
  }
  h1 {
    text-align: left;
    font-size: 1.3em;
    margin-left: 12px;
  }
  .paper {
    margin: 0;
    margin-left: 12px;
    margin-top: -165px;
    -webkit-transform: scale(0.4);
    -webkit-transform-origin: 0% 50%;
    -webkit-transition: 0.3s;
    transform-origin: 0% 50%;
    transform: scale(0.4);
    transition: transform 0.3s, margin 0.3s;
  }
}
@media only screen and (max-height: 300px) {
  body {
    overflow: hidden;
  }
  h1 {
    text-align: left;
    font-size: 1.3em;
    margin-left: 12px;
  }
  .paper {
    margin: 0;
    margin-left: 12px;
    margin-top: -192.5px;
    -webkit-transform: scale(0.3);
    -webkit-transform-origin: 0% 50%;
    -webkit-transition: 0.3s;
    transform-origin: 0% 50%;
    transform: scale(0.3);
    transition: transform 0.3s, margin 0.3s;
  }
}
