.dots {
  display: flex;
  justify-content: center;
  margin: 5px;
  margin-top: -65px;

}
.post {
  width: 90%;
  margin-left: 6%;

}
.no-posts-container {
  text-align: center;
  padding: 20px;
  color: #333;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .find-community-link {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .faq-arrow {
    margin-top: 20px;
    path {
      fill: #007bff;
    }
  }
}
.dots label:hover {background: #ffffff;}

/* Set fixed dimensions for the main image and thumbnails */
.post-images .main-image {
  width: 100%; /* Full width within the post */
  height: 300px; /* Fixed height */
  object-fit: cover; /* Crop to fill the space without distortion */
}
.post-images .thumbnail {
  width: 60px; /* Fixed thumbnail width */
  height: 60px; /* Fixed thumbnail height */
  margin-right: 5px;
  object-fit: cover;
}

.comment-scrollbar{
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 330px;
}
