<app-create-post></app-create-post>
<div class="posts-section mb-2" *ngFor="let post of posts">
  <div class="post border-bottom p-3 bg-white w-shadow mb-3">
    <!-- Post Header Section -->
    <div class="media text-muted pt-3">
      <img src="assets/images/users/user-1.jpg" alt="Online user" class="mr-3 post-user-image">
      <div class="media-body pb-3 mb-0 small lh-125">
        <div class="d-flex justify-content-between align-items-center w-100">
          <a href="#" class="text-gray-dark post-user-name">{{post.whoposted}}</a>
          <div class="dropdown align-items-end d-block" style="justify-items: flex-end;">
            <a href="#" class="post-more-settings" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class='bx bx-dots-horizontal-rounded'></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right post-dropdown-menu">
              <!-- Dropdown Items for Post -->
              <a href="#" class="dropdown-item" aria-describedby="savePost">
                <div class="row">
                  <div class="col-md-2">
                    <i class='bx bx-bookmark-plus post-option-icon'></i>
                  </div>
                  <div class="col-md-10">
                    <span class="fs-9">Save post</span>
                    <small id="savePost" class="form-text text-muted">Add this to your saved items</small>
                  </div>
                </div>
              </a>
              <a href="#" class="dropdown-item" aria-describedby="hidePost">
                <div class="row">
                  <div class="col-md-2">
                    <i class='bx bx-hide post-option-icon'></i>
                  </div>
                  <div class="col-md-10">
                    <span class="fs-9">Hide post</span>
                    <small class="form-text text-muted">See fewer posts like this</small>
                  </div>
                </div>
              </a>
              <a href="#" class="dropdown-item" aria-describedby="snoozePost">
                <div class="row">
                  <div class="col-md-2">
                    <i class='bx bx-time post-option-icon'></i>
                  </div>
                  <div class="col-md-10">
                    <span class="fs-9">Snooze Lina for 30 days</span>
                    <small class="form-text text-muted">Temporarily stop seeing posts</small>
                  </div>
                </div>
              </a>
              <!-- Report Post Dropdown -->
              <div class="dropdown-item-container">
                <a  class="dropdown-item" (click)="redirectToReport(post.id)">
                  <div class="row">
                    <div class="col-md-2">
                      <i class='bx bx-flag post-option-icon'></i>
                    </div>
                    <div class="col-md-10">
                      <span class="fs-9">Report</span>
                      <small class="form-text text-muted">Report this post</small>
                    </div>
                  </div>
                </a>
                <div class="row">
                  <div class="col-md-2">
                    <i class='bx bx-block post-option-icon'></i>
                  </div>
                  <div class="col-md-10">
                    <small class="form-text text-muted">I'm concerned about this post</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <span class="d-block">{{getTimeSincePost(post.date_ajout)}} <i class='bx bx-globe ml-1'></i></span>
      </div>
    </div>

    <!-- Post Content -->
    <a class="text-gray-dark mr-3">Community: <span class="font-weight-bold">{{post.community}}</span></a>
    <div class="mt-1">
      <p>{{post.content}}</p>
    </div>

    <!-- Post Images -->
    <div class="d-block">
      <ng-container *ngFor="let image of post.fileList; let i = index">
        <img *ngIf="post.selectedImageIndex === i" [src]="getImageUrl(post, i)" class="post-content rounded" [alt]="'Post image ' + (i + 1)">
      </ng-container>
    </div>

    <!-- Image Selector Dots -->
    <div class="dots" *ngIf="post.fileList.length >= 2">
      <label *ngFor="let image of post.fileList; let i = index"
             (click)="showImage(post, i)"
             [ngClass]="{'bg-light': post.selectedImageIndex === i}">
      </label>
    </div>

    <!-- Reactions Section -->
    <div [ngClass]="{'mt-4': post.fileList.length >= 2}" class="mb-2">
      <div class="argon-reaction">
        <span class="like-btn">
          <a href="#" class="post-card-buttons">
            <i class='bx bxs-like mr-2'></i> {{ (post.likeList ? post.likeList.length : 0) }} Likes
          </a>
          <ul class="reactions-box dropdown-shadow">
            <li class="reaction reaction-like" data-reaction="Like"></li>
            <li class="reaction reaction-love" data-reaction="Love"></li>
            <li class="reaction reaction-haha" data-reaction="HaHa"></li>
            <li class="reaction reaction-wow" data-reaction="Wow"></li>
            <li class="reaction reaction-sad" data-reaction="Sad"></li>
            <li class="reaction reaction-angry" data-reaction="Angry"></li>
          </ul>
        </span>
      </div>

      <!-- Comment Section -->
      <a href="javascript:void(0)" class="post-card-buttons" id="show-comments" (click)="toggleComments(post)">
        <i class='bx bx-message-rounded mr-2'></i> {{post.commentList.length}} Comments
      </a>

      <!-- Share Section -->
      <div class="dropdown dropup share-dropup">
        <a href="#" class="post-card-buttons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class='bx bx-share-alt mr-2'></i> Share
        </a>
        <div class="dropdown-menu post-dropdown-menu">
          <a href="#" class="dropdown-item">
            <div class="row">
              <div class="col-md-2">
                <i class='bx bx-share-alt'></i>
              </div>
              <div class="col-md-10">
                <span>Share Now (Public)</span>
              </div>
            </div>
          </a>
          <a href="#" class="dropdown-item">
            <div class="row">
              <div class="col-md-2">
                <i class='bx bx-share-alt'></i>
              </div>
              <div class="col-md-10">
                <span>Share...</span>
              </div>
            </div>
          </a>
          <a href="#" class="dropdown-item">
            <div class="row">
              <div class="col-md-2">
                <i class='bx bx-message'></i>
              </div>
              <div class="col-md-10">
                <span>Send as Message</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Comments Section -->
    <div class="border-top pt-3" *ngIf="post.showComments">
      <div class="row bootstrap snippets">
        <div class="col-md-12">
          <div class="comment-wrapper">
            <div class="panel panel-info">
              <div class="panel-body">
                <ul class="media-list comments-list">
                  <li class="media comment-form">
                    <a href="#" class="pull-left">
                      <img src="assets/images/users/user-4.jpg" alt="" class="img-circle">
                    </a>
                    <div class="media-body">
                      <form #commentForm="ngForm" (ngSubmit)="createComment(commentForm, post)" role="form">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="input-group">
                              <input type="text" class="form-control comment-input" [(ngModel)]="inputValue" name="description" placeholder="Write a comment...">
                              <div class="input-group-btn">
                                <button type="button" class="btn comment-form-btn"><i class='bx bxs-smiley-happy'></i></button>
                                <button type="button" class="btn comment-form-btn"><i class='bx bx-camera'></i></button>
                                <button type="submit" class="btn comment-form-btn"><i class='bx bx-like'></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </li>
                </ul>
                <ul class="media-list comments-list" *ngFor="let comment of post.commentList">
                  <li class="media">
                    <a href="#" class="pull-left">
                      <img src="assets/images/users/user-2.jpg" alt="" class="img-circle">
                    </a>
                    <div class="media-body">
                      <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark"><a href="#" class="fs-8">{{comment.username}}</a></strong>
                        <a href="#"><i class='bx bx-dots-horizontal-rounded'></i></a>
                      </div>
                      <span class="d-block comment-created-time">{{getTimeSincePost(comment.date)}}</span>
                      <p class="fs-8 pt-2">{{comment.description}}</p>
                      <div class="commentLR">
                        <button type="button" class="btn btn-link fs-8">Like</button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
