<div class="row ht-100v flex-row-reverse no-gutters">
  <div class="col-md-6 d-flex justify-content-center align-items-center bg-white">
    <div class="signup-form">
      <div class="auth-logo text-center mb-5">
        <div class="row text-center">
          <div class="col-md-4">
            <img src="./assets/images/_8763A0E1-E375-461E-9DD9-E7FD750DDC7E_-removebg-preview.png" style="width: 80px;margin-left: 50px" alt="Logo">
          </div>
          <div >
            <p>TEK-COM</p>
            <span>Your Voice, Your Space!</span>
          </div>
        </div>
      </div>
      <form action="" method="" class="pt-5">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" name="" placeholder="First Name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" name="" placeholder="Last Name">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" name="" placeholder="Email Address">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="text" class="form-control" name="" placeholder="Phone Number">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <select name="" id="" class="form-control">
                <option value="">- Select Day -</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <select name="" id="" class="form-control">
                <option value="">- Select Month -</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <select name="" id="" class="form-control">
                <option value="">- Select Year -</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="password" class="form-control" name="" placeholder="Password">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="password" class="form-control" name="" placeholder="Confirm Password">
            </div>
          </div>
          <div class="col-md-12">
            <p class="agree-privacy">By clicking the Sign Up button below you agreed to our privacy policy and terms of use of our website.</p>
          </div>
          <div class="col-md-6">
            <span class="go-login">Already a member? <a href="sign-in.html">Sign In</a></span>
          </div>
          <div class="col-md-6 text-right">
            <div class="form-group">
              <button type="button" class="btn btn-primary sign-up">Sign Up</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6  d-flex justify-content-center align-items-center">

    <div class="auth-left-content mt-5 mb-5 text-center">

      <img src="./assets/images/_EC0535A1-A39F-4BEF-9B62-B69D3B45FA82_-removebg-preview.png"  alt="Logo">

    </div>
  </div>
</div>
