<div class="settings-form p-4">
  <h2>Change Your Password</h2>
  <form action="" method="" class="mt-4 settings-form">
    <div class="col-md-6">
      <div class="form-group">
        <label for="oldpassword">Old Password</label>
        <input type="text" class="form-control" id="oldpassword" placeholder="oldpassword">
      </div>
    </div>

    <hr>
    <div class="col-md-6">
      <div class="form-group">
        <label for="newpassword">New Password</label>
        <input type="text" class="form-control" id="newpassword" placeholder="New Password">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="confirmpassword">Confirm New Password</label>
        <input type="text" class="form-control" id="confirmpassword" placeholder="Confirm New Password">
      </div>
    </div>

    <div class="col-md-6 text-right">
      <button type="submit" class="btn btn-primary btn-sm">Save Changes</button>
    </div>
  </form>
</div>
