<div class="row ht-100v flex-row-reverse no-gutters">
  <div class="col-md-6 d-flex justify-content-center align-items-center bg-white">
    <div class="signup-form">
      <div class="auth-logo text-center mb-5">
        <div class="row text-center">
          <div class="col-md-4">
            <img src="./assets/images/_8763A0E1-E375-461E-9DD9-E7FD750DDC7E_-removebg-preview.png" style="width: 80px;margin-left: 50px" alt="Logo">
          </div>
          <div >
            <p>TEK-COM</p>
            <span>Your Voice, Your Space!</span>
          </div>
        </div>
      </div>
      <form  #forgetpass2Form="ngForm"(ngSubmit)="forgetpass2(forgetpass2Form)">
        <div class="row ">
          <div class="col-md-12">
            <div class="form-group">
              <input type="password"
                     ngModel
                     name="newpassword"
                     placeholder="New password"
                     id="password2" required
                     class="form-control">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <input type="password"
                     ngModel
                     name="confirmpassword"
                     placeholder="Confirm password"

                     id="password1" required
                     class="form-control">
            </div>
          </div>
          <div class="col-md-6">

          </div>
          <div *ngIf="isLoading">
            Connexion...
          </div>
          <div class="col-md-6 text-right">
            <div class="form-group">
              <button type="submit" class="btn btn-primary sign-up">Save</button>
            </div>
          </div>
          <div class="col-md-12 text-monospace text-center  ">
            <span class="go-login">Not yet a member?   </span>
            <button type="button" class="btn btn-primary bg-white text-dark sign-up" routerLink="signup"> Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6 d-flex justify-content-center align-items-center"
  >
    <div class="auth-left-content mt-5 mb-5 text-center">

      <img src="./assets/images/_6D1A69BC-B3F2-42E1-A671-083A7FD39E2C_-removebg-preview.png" style="width: 110%;margin-left: -10%" alt="Logo">

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade fingerprint-modal" id="fingerprintModal" tabindex="-1" role="dialog" aria-labelledby="fingerprintModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h3 class="text-muted display-5">Place your Finger on the Device Now</h3>
        <img src="./assets/images/icons/auth-fingerprint.png" alt="Fingerprint">
      </div>
    </div>
  </div>
</div>

