<div class="row ht-100v flex-row-reverse no-gutters">
  <div class="col-md-6 d-flex justify-content-center align-items-center bg-white">
    <div class="signup-form">
      <div class="auth-logo text-center mb-5">
        <div class="row text-center">
          <div class="col-md-4">
            <img src="./assets/images/_8763A0E1-E375-461E-9DD9-E7FD750DDC7E_-removebg-preview.png" style="width: 80px;margin-left: 50px" alt="Logo">
          </div>
          <div >
            <p>TEK-COM</p>
            <span>Your Voice, Your Space!</span>
          </div>
        </div>
      </div>
      <form #forgetpassForm="ngForm"(ngSubmit)="forgetpass(forgetpassForm)">
        <div class="row ">
          <div class="col-md-12">
            <div class="form-group">

              <h5> Entrez votre e-mail pour recevoir <br>un e-mail de réinitialisation</h5>
              <h6 *ngIf="showalert" style="color: red ;"><p style="margin-right: 50px;"> Vérifiez votre e-mail  </p> <p>Si vous rencontrez un problème, contactez l'administrateur de sécurité </p></h6>
              <input type="text" class="form-control" ngModel name="email" placeholder="Email Address">
            </div>
          </div>

          <div class="col-md-12 mb-3">
            <a routerLink="/sendforget">Forgot password?</a>
          </div>
          <div class="col-md-6">

          </div>

          <div class="col-md-6 text-right">
            <div class="form-group">
              <button type="submit" class="btn btn-primary sign-up">Sign In</button>
            </div>
          </div>
          <div class="col-md-12 text-monospace text-center  ">
            <span class="go-login">Not yet a member?   </span>
            <button type="button" class="btn btn-primary bg-white text-dark sign-up" routerLink="signup"> Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6 d-flex justify-content-center align-items-center"
  >
    <div class="auth-left-content mt-5 mb-5 text-center">

      <img src="./assets/images/_2EC7CADA-EF84-4EBA-982E-B985C33F9E10_-removebg-preview.png" style="width: 110%;margin-left: -10%" alt="Logo">

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade fingerprint-modal" id="fingerprintModal" tabindex="-1" role="dialog" aria-labelledby="fingerprintModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h3 class="text-muted display-5">Place your Finger on the Device Now</h3>
        <img src="./assets/images/icons/auth-fingerprint.png" alt="Fingerprint">
      </div>
    </div>
  </div>
</div>


<!DOCTYPE html>
<html lang="en">

<body>
<section>
  <div class="form-box">
    <div class="form-value">
      <form #forgetpassForm="ngForm"(ngSubmit)="forgetpass(forgetpassForm)">
        <div class="img"><img src="assets/LOGO-ATTIJARI-NEW.gif" width="150px"> </div>
        <h2>RECETTE-APP</h2>

        <h5> Entrez votre e-mail pour recevoir <br>un e-mail de réinitialisation</h5>
        <h6 *ngIf="showalert" style="color: red ;"><p style="margin-right: 50px;"> Vérifiez votre e-mail  </p> <p>Si vous rencontrez un problème, contactez l'administrateur de sécurité </p></h6>

        <div class="inputbox">


          <input type="email"
                 ngModel
                 name="email"
                 id="email" required>
          <label  place>E-mail</label>
          <div class="icon"> <img src="assets/mail.png" width="70px" alt="Input Icon"> </div>
        </div>





        <button type="submit">Confirmer</button>
        <div class="forget">
          <a routerLink="/login">Retour à la page de connexion</a>
        </div>
      </form>
    </div>
  </div>
</section>

</body>
</html>
